{% extends "base.html" %}

{% block content %}
    <h1>{{ event.title }}</h1>
    <h2>Amis secrets</h2>


    {% if error %}

    <div class="row">
        <p class="alert alert-danger">
            {{ error }}
        </p>
    </div>

    {% elif chosen_friend %}

    <div class="row">
        <p class="alert alert-success">
            Tu dois donner un cadeau à <strong>{{ chosen_friend.name }}</strong> !
        </p>
    </div>
    <div class="row">
        <p>À très bientôt ;-)</p>
    </div>

    {% elif friends|length == 0 %}

    <div class="row">
        <p class="alert alert-info">
            Tout le monde a déjà choisi, il n'y a plus rien à faire.
        </p>
    </div>

    {% else %}

    <div class="row">
        <p>Sélectionne ton nom, puis clique sur le bouton pour tirer au sort un ami secret.</p>
    </div>
    <div class="row">
    <form role="form" class="form-inline" method="post">
        <div class="form-group">
            <label for="giver" class="control-label">Qui es-tu ?</label>
            <select class="form-control" name="giver" id="giver">
                {% for name in friends %}
                <option>{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Tirer un ami (au sort)</button>
        </div>
    </form>
    </div>

    {% endif %}

{% endblock %}
