{% extends "base.html" %}

{% block content %}

    <h1>Évènements en cours</h1>

    {% if events|length %}
    <ul>
    {% for event in events %}
        <li><a href="{{ url_for("event", event_id=event.id) }}">{{ event.title }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>Pas d'évènements en cours.</p>
    {% endif %}

{% endblock %}
